<section
  class="bg-background-color relative flex flex-col justify-center items-center h-[50vh] px-6 pt-32 text-center shadow-lg shadow-gray-500/20"
>
  <!-- Imagem de fundo -->
  <div
    class="absolute inset-0 bg-cover bg-center bg-no-repeat"
    style="
      background-image: url('/assets/banner-health.jpg');
      background-position-y: 30%;
    "
  ></div>

  <!-- Gradiente para destaque -->
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent"
  ></div>

  <!-- Conteúdo principal -->
  <div class="relative z-10 max-w-3xl w-full">
    <h1
      class="!text-3xl sm:!text-4xl md:!text-5xl !font-bold text-white/90 mb-4 drop-shadow-lg"
    >
      Plataforma de Saúde e Análise de Dados
    </h1>
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-2 w-full mx-auto"
    >
      <input
        type="text"
        placeholder="O que você procura?"
        class="w-full py-2 px-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color shadow-md"
      />
      <button
        mat-raised-button
        class="flex items-center justify-center bg-primary-color text-white font-medium px-4 py-2 rounded-lg hover:bg-secondary-color transition"
      >
        <mat-icon class="font-medium leading-none">search</mat-icon>
      </button>
    </div>
  </div>
</section>
