
<div class="dashboard-container">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Indicadores de Saúde</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Informações analíticas importantes sobre os indicadores de saúde.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/app/indicadores">Ver Indicadores</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Mapa de Calor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Visualize os dados de saúde em um mapa de calor interativo.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/app/dados-abertos-saude">Ver Mapa</button>
    </mat-card-actions>
  </mat-card>

  <!-- <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Análise de Dados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Explore análises detalhadas dos dados de saúde.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/app/analytics">Ver Análises</button>
    </mat-card-actions>
  </mat-card> -->
</div>