<section>
  <app-hero></app-hero>
</section>
<section>
  <div>
    <div class="bg-gradient-to-b from-gray-100 to-gray-300 shadow-lg rounded-lg p-4 testando">
      <h1 class="!text-lg sm:!text-xl !text-primary-color !font-semibold">Sobre o SASI</h1>

  <h2 class="!text-lg sm:!text-xl !text-primary-color !font-semibold">Missão</h2>

  <p>
    Transformar a gestão de saúde pública brasileira, oferecendo uma solução prática e tecnológica para otimizar a tomada de decisões.
  </p>

  <h2 class="!text-lg sm:!text-xl !text-primary-color !font-semibold">Visão</h2>

  <p>
    Ser referência no Estado da Bahia em integração e análise de dados em saúde pública nos próximos 5 anos.
  </p>

  <h2 class="!text-lg sm:!text-xl !text-primary-color !font-semibold">Valores</h2>

  <ul>
    <li><strong>Inovação:</strong> </li>
    <li><strong>Integridade</strong></li>
    <li><strong>Compromisso</strong></li>
    <li><strong>Equidade</strong></li>
</ul>
    </div>
</div>

</section>
